p{
    color: rgb(246, 235, 235);
}
.p-black,h2{
    color: black;
}
h1{
    
    font-size: 5rem;
    
}
h4,h1{
    color: #ffffff;
}

.header{
    background-image: url("https://andagolf.com/wp-content/uploads/revslider/knox-slider-gym/banner-bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-bottom: 8vh;
    background-attachment: fixed;
}

.logo{
    width: 240px;
}

a{
    text-decoration: none;

}
header{
    position: relative;
    height: 89vh;
}
svg{
    position: absolute;
    bottom: 0;

}
.desc{
    height: 70vh;
}

.comillas{
    width: 50px;
    margin-top: 20px;
}
.frase{
    font-size: 2rem;

}

.card-img-filter{
    filter: brightness(0.5);
    height: 500px;
    width: 400px;
}

.card{
    transition-duration: .6s;
    clip-path: polygon(
        50% 0,
        100% 0,
        100% 50%,
        100% 100%,
        50% 100%,
        0 100%,
        0 50%,
        0 0
    );
}
.card-effect:hover .card{
    clip-path: polygon(
        50% 0,
        50% 0,
        100% 50%,
        100% 50%,
        50% 100%,
        50% 100%,
        0 50%,
        0 50%
    );
}

.card-img-overlay{
    transition-duration: .6s;
}
.card-effect:hover .card-img-overlay{
    transform: scale(0.9);
}
.section-2{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    background-image: url("https://media.istockphoto.com/photos/blurred-background-of-gym-picture-id538476234?k=20&m=538476234&s=170667a&w=0&h=_89YdDqqQgNMnmBJzxXZFUHMU1i0OSanziXv4XVhX5E=");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.title-sec-3{
    font-size: 70px
}
.pb{
    padding-bottom: 50px;
}
.img-sec-3{
    width: 350px;
    
}

.pd{
    padding-right: 0;
    margin-right:-15px;
}
.pd-f{
    padding-left: 0;
    margin-left:-15px;
}

.separador{
    background-color: #c5b0bb;
}

.pt{
    padding-top: 20px
}
.h-dudas{
    margin-bottom: 50px;
    font-size: 50px
}


.section-4{
    margin-top: 100px;
    background-color: #182538;

}


.marca-img{
    width: 200px;
}
.p-marca{
    border-right: solid thick green;
    border-bottom: solid thick green;
   
}
.section-4{
  padding: 40px;
}
.p-size{
    font-size: 1.6rem;
}


.bg-color{
    background-color:#c5b0bb;
    position: absolute;
    width: 100%;
    height: 45%;

}

.img-testimonio{
    height: 100px; 
    width: 100px; 
    border-radius: 50%
}
.card-testimonios{
    height: 400px;
    border-radius: 4%;
}
.h-testimonios{
    margin-top: 100px;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 2.7rem;
}
.bg-osc{
    background-color: #182538;
}

.h-compra{
    font-weight: 600;
    font-size: 3rem;
}
.p-green{
    color: #6B7A90;
}

.padding{
    padding: 100px;
}
.btn-compra{
    margin-top: 50px;
}
.btn{
    font-weight: 500;
}

.testimonios-sec{
    margin-bottom: 100px;
}

.formulario{
    margin: 100px 100px 200px;
}

.h-contactanos{
    margin-bottom: 80px;
}

.margin-arriba{
    margin-top: 200px;
}

@media (max-width: 1000px){
    .title-tigres{
        font-size: 4rem;
    }
    .header{
        position: relative;
        height: 75vh;
    }
    .frase{
        font-size:1.5rem;
    }
    article{
        display: flex;
        justify-content: center;
    }
    iframe{
        width: 60vw;
        height: 34vh;
    }
    .section-2{
        display: flex;
        justify-content: center;
    }
    .title-sec-3{
        font-size: 3rem;
    }
    .img-sec-3{
        width: 40vw;
    }
    .separador{
        visibility: hidden
    }
    .p-marca{
        display: none;
    }
    .marca-img{
        width: 20vw;
    }
    .marca:nth-child(5){
        display: none
    }
    .marca:nth-child(4){
        display: none
    }
    .h-dudas{
        font-size:2rem;
    }
    .img-testimonio{
        height: 80px; 
        width: 80px; 
        border-radius: 50%
    }
    .img-compra{
        width: 30vw;
        height: 30vw;
    }
    .h-compra{
        font-size:2rem;
    }
    .btn{
        width: 28vw;
        font-size: .9rem;
    }
    .padding{
        padding: 30px;
    }
    .h-about{
        font-size: 3rem;
    }
    .h-contactanos{
        font-size: 2rem;

    }
}

@media(max-width: 767px){
    .card-testimonios{
        height: 250px;
    }
    
}
.about-us{
    margin-bottom:1000px;
    margin: 10px;
}